<a href="https://colab.research.google.com/github/s08kaplan/JS/blob/master/mobile_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 1
while i < 10:
  print("hello")
  if i == 6:
   break
  i += 1

hello
hello
hello
hello
hello
hello

In [ ]:

fruits = ["apple", "banana", "cherry","kiwi"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
   break

apple
banana

In [ ]:

def my_function():
  print("Hello from a function")
def x():
  print("hey I'm here")
my_function()
x()

Hello from a function
hey I'm here

In [ ]:

r =int(input("please enter a number :"))
def my_function(area = 3*r**2):
  print(area)

my_function()
my_function()
my_function()
my_function()

please enter a number :5
75
75
75
75

In [ ]:

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]
vegetables = ["cucumber","tomato","pepper"]
my_function(fruits)
my_function(vegetables)

apple
banana
cherry
cucumber
tomato
pepper

In [ ]:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
x = lambda a,b,c : 2 * (a + b) + (b * c )
print(x(5,7,3))

45

In [ ]:

def myfunc(n):
  return lambda a : a * n

new = myfunc(2)

print(new(17))

34

In [ ]:
name = 'mahmud'
same = 'yildiziparlayan'
age = 40
message = ' welcome to learn python '
print(f"{}

In [ ]:
def myfunc(n):
  return lambda a : (a * n)/2 +10
my_tripler = myfunc(3)
my_operation = myfunc(6)
print(my_tripler(11))
print(my_operation(20))

26.5
70.0

In [ ]:
class Student():
      def __init__(self,name,lname,note):
          self.name=name
          self.lname=lname
          self.note=note
      def successful(self):
          return f"{self.name} {self.lname} is the  most successful student with grade {self.note}"

success= Student('Ali','Guzel',95)
print(success.successful())

Ali Guzel is the  most successful student with grade 95

In [ ]:

class Factory():

     def __init__(self,fname, lname, age, department):

         self.fname = fname

         self.lname = lname

         self.age  = age

         self.department = department

     def welcome(self):

         return f"welcome to our Factory {self.fname} {self.lname} , you are {self.age} years old and you will work at {self.department}"

p =Factory("Ali", "Guzel", 38, "shipment")

print(p.welcome())

welcome to our Factory Ali Guzel , you are 38 years old and you will work at shipment

In [ ]:

class Numbers():

      def __init__(self, x, y, z):

          self.x = x

          self.y = y

          self.z = z

      def average(self):

         return (self.x + self.y + self.z)/3

      def note(self):

          return f"The average of your numbers : {self.x}, {self.y}, {self.z} is "

p = Numbers(5,6,10)

print(p.note())

print(p.average())

The average of your numbers : 5, 6, 10 is
7.0

In [ ]:

class Car():

    def __init__(self, name, model, color, price, speed):

        self.name = name

        self.model = model

        self.color = color

        self.price = price

        self.speed = speed

    def property(self):

      return f"Your {self.model} model {self.color}  {self.name} costs {self.price} and it has maximum {self.speed} "

x = Car("Mercedes",2020,"blue","$30k","290 km/h")

print(x.property())

Your 2020 model blue  Mercedes costs $30k and it has maximum 290 km/h

In [7]:
class Person():
     def __init__(self, fname, lname, byear, nationality):
         self.fname = fname
         self.lname = lname
         self.byear = byear
         self.nationality = nationality
     def inf(self):
         return f"Hello {self.fname} {self.lname} your birthday year is {self.byear} and your nationality belongs to {self.nationality}"

person = Person("Salih", "Star",1985, "Turkey")
print(person.inf())

Hello Salih Star your birthday year is 1985 and your nationality belongs to Turkey